html {
     color: #ffffff;
     text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     transition: background 0.5s ease-in-out;
     background-image: url('images/meshgradiant.png');
     background-repeat: no-repeat;
     background-size: cover;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
     animation: gradient 20s ease infinite;
}
 p {
     margin: 0;
}
 h1 {
     font-size: 2rem;
     font-weight: 300;
     margin: 0;
}
 h2 {
     font-size: 1.2rem;
     font-weight: 300;
     margin-bottom: 0;
}
 .main-temp {
     margin-top: -1rem;
     margin-left: 2rem;
     font-size: 6rem;
     height: 6rem;
     font-weight: 200;
     margin-bottom: 0.5rem;
}
 .weather-state {
     height: 1.5rem;
     text-transform: capitalize;
}
 .weather-icon {
     width:24px;
}
 .forecast {
     display: flex;
     justify-content: space-between;
     text-transform: capitalize;
     border-top: 0.5px solid rgba(255, 255, 255, 0.3);
     text-shadow: none;
     align-items: center;
}
 .forecast > p:nth-child(1), .forecast > p:nth-child(2) {
     flex: 1;
    /* Changed from width: 30% to flex: 1 */
}
 .forecast span {
     display: flex;
     width: 5rem;
     background: linear-gradient(to right, #a1ffa1, #ffff54, #ffa400);
     margin: 0.5rem;
     height: 4px;
     border-radius: 99rem;
     position: relative;
}
 .forecast:last-child{
     margin-bottom: -0.7rem;
 }
 .forecast-temps {
     display: flex;
     align-items: center;
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
}
 .forecast-temps p:nth-child(1) {
     width: 1.5rem;
     color: rgba(255, 255, 255, 0.6);
}
 .forecast-temps p:nth-child(3) {
     width: 1.5rem;
}
 .forecast-day {
     width: 2rem;
}
 .forecast-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .forecast-weather p:nth-child(1) {
     font-size: 0.7rem;
 }
 .temps {
     height: 2rem;
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
}
 .temps span {
     width: 0.5rem;
}
 .calendar {
     background-image: url('images/calendar.svg');
     height: 12px;
     width: 12px;
     margin-right: 0.3rem;
     background-repeat: no-repeat;
     background-size: contain;
}
 .select-city {
     background-image: url('images/location.magnifyingglass.svg');
     height: 12px;
     width: 12px;
     margin-right: 0.3rem;
     background-repeat: no-repeat;
     background-size: contain;
}
 .high-temp {
     background-image: url('images/arrow.up.svg');
     height: 12px;
     width: 12px;
     background-repeat: no-repeat;
     background-size: contain;
     filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.7));
}
 .low-temp {
     background-image: url('images/arrow.down.svg');
     height: 12px;
     width: 12px;
     background-repeat: no-repeat;
     background-size: contain;
     filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.7));
}
 .label {
     display: flex;
     flex-direction: column;
     font-size: 1rem;
     padding-top: 0.5rem;
     border-top: 0.5px solid rgba(255, 255, 255, 0.3);
}
 .title {
     display: flex;
     align-items: flex-end;
     font-size: 0.7rem;
     color: rgba(255, 255, 255, 0.8);
     font-weight: normal;
     text-shadow: none;
     margin-bottom: 0.5rem;
     text-transform: uppercase;
}
 .card {
     font-size: 1rem;
     padding: 0.7rem 1rem 0.7rem 1rem;
     border-radius: 1rem;
     background: rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}
 .current-weather {
     text-align: center;
     margin: 2rem 0 2rem 0;
     display: flex;
     flex-direction: column;
}
 .select {
     background: rgba(255, 255, 255, 0.1);
     color: #ffffff;
     text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
     font-size: 1rem;
     width: 100%;
     padding: 0.2rem;
     border: 1px solid rgba(255, 255, 255, 0.6);
     border-radius: 0.5rem;
     box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
}
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
    }
     50% {
         background-position: 100% 50%;
    }
     100% {
         background-position: 0% 50%;
    }
}
 @font-face {
     font-family: 'weathericons';
     src: url('../public/fonts/weathericons-regular-webfont.eot');
     src: url('../public/fonts/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../public/fonts/weathericons-regular-webfont.woff') format('woff'), url('../public/fonts/weathericons-regular-webfont.ttf') format('truetype'), url('../public/fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format('svg');
     font-weight: normal;
     font-style: normal;
}
 .wi {
     display: inline-block;
     font-style: normal;
     font-weight: normal;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
/* -----Thunder----- */
 .wi-icon-200::before, .wi-icon-201::before, .wi-icon-210::before, .wi-icon-211::before, .wi-icon-212::before, .wi-icon-221::before, .wi-icon-230::before, .wi-icon-231::before, .wi-icon-232::before {
     content: "\f01d";
}
/* -----Sun----- */
 .wi-icon-800::before {
     content: "\f00d";
}
 .wi-icon-801::before {
     content: "\f00c";
}
/* -----Drizzle----- */
 .wi-icon-300::before, .wi-icon-301::before, .wi-icon-302::before, .wi-icon-310::before, .wi-icon-311::before, .wi-icon-312::before {
     content: "\f017";
}
 .wi-icon-313::before, .wi-icon-314::before, .wi-icon-321::before {
     content: "\f017";
}
/* -----Hail----- */
 .wi-icon-906::before {
     content: "\f015";
}
/* -----Showers----- */
 .wi-icon-500::before, .wi-icon-521::before, .wi-icon-522::before, .wi-icon-531::before {
     content: "\f01a";
}
/* -----Rainy----- */
 .wi-icon-501::before, .wi-icon-502::before, .wi-icon-503::before, .wi-icon-511::before, .wi-icon-520::before {
     content: "\f019";
}
/* -----Snowy----- */
 .wi-icon-600::before, .wi-icon-601::before, .wi-icon-611::before, .wi-icon-612::before, .wi-icon-615::before, .wi-icon-616::before, .wi-icon-620::before, .wi-icon-621::before, .wi-icon-622::before {
     content: "\f064";
}
/* -----Frosty----- */
 .wi-icon-903::before {
     content: "\f076";
}
/* -----Windy----- */
 .wi-icon-905::before {
     content: "\f011";
}
/* -----WindyRain----- */
 .wi-icon-504::before {
     content: "\f018";
}
/* -----WindySnow----- */
 .wi-icon-602::before {
     content: "\f064";
}
/* -----Sleet----- */
 .wi-icon-611::before {
     content: "\f0b5";
}
/* -----Mist----- */
 .wi-icon-701:before {
     content: "\f014";
}
/* -----Cloud----- */
 .wi-icon-802::before, .wi-icon-803::before, .wi-icon-804::before {
     content: "\f011";
}
 .wrapper {
     margin-top: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
 .lds-spinner {
     display: inline-block;
     position: relative;
     width: 80px;
     height: 80px;
}
 .lds-spinner div {
     transform-origin: 40px 40px;
     animation: lds-spinner 1.2s linear infinite;
}
 .lds-spinner div:after {
     content: " ";
     display: block;
     position: absolute;
     top: 3px;
     left: 37px;
     width: 6px;
     height: 18px;
     border-radius: 20%;
     background: #fff;
}
 .lds-spinner div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.1s;
}
 .lds-spinner div:nth-child(2) {
     transform: rotate(30deg);
     animation-delay: -1s;
}
 .lds-spinner div:nth-child(3) {
     transform: rotate(60deg);
     animation-delay: -0.9s;
}
 .lds-spinner div:nth-child(4) {
     transform: rotate(90deg);
     animation-delay: -0.8s;
}
 .lds-spinner div:nth-child(5) {
     transform: rotate(120deg);
     animation-delay: -0.7s;
}
 .lds-spinner div:nth-child(6) {
     transform: rotate(150deg);
     animation-delay: -0.6s;
}
 .lds-spinner div:nth-child(7) {
     transform: rotate(180deg);
     animation-delay: -0.5s;
}
 .lds-spinner div:nth-child(8) {
     transform: rotate(210deg);
     animation-delay: -0.4s;
}
 .lds-spinner div:nth-child(9) {
     transform: rotate(240deg);
     animation-delay: -0.3s;
}
 .lds-spinner div:nth-child(10) {
     transform: rotate(270deg);
     animation-delay: -0.2s;
}
 .lds-spinner div:nth-child(11) {
     transform: rotate(300deg);
     animation-delay: -0.1s;
}
 .lds-spinner div:nth-child(12) {
     transform: rotate(330deg);
     animation-delay: 0s;
}
 @keyframes lds-spinner {
     0% {
         opacity: 1;
    }
     100% {
         opacity: 0;
    }
}
